<br />
<div>
    @*<h3>@System.Configuration.ConfigurationManager.AppSettings["SiteSortName"].ToString()</h3>*@
    <p>Copyright © @System.DateTime.Now.Year, @System.Configuration.ConfigurationManager.AppSettings["SiteURL"].ToString() All Rights Reserved.</p>

</div>   
