@model IEnumerable<HSBM.EntityModel.SystemUsers.SystemUsers>
@using HSBM.Web.Helpers
@using HSBM.Common.Enums;

@{
    ViewBag.Title = "System User";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="main-wrapper">
    <h3>System Users</h3>
    <div ng-controller="SubuserController" class="inner-content subuser-box">
        <script>
            function BindSubUsersGrid(initialStart, initialLength, initialSortCol, initialSortType) {
                var Columns = [
                            { data: 'Id', bVisible: false },
                            //{
                            //    mRender: function (data, type, row, full) {
                            //        return row.FirstName+" "+row.LastName;
                            //    }
                            //},
                            { data: 'FullName' },
                            { data: 'Email' },
                            { data: 'Mobile' },
                            { data: 'RoleName' },
                            //{
                            //    bSortable: false,
                            //    sClass: "action-cell",
                            //    mRender: function (data, type, row, full) {
                            //        if (!row.IsActive) {
                            //            return "<div class='btn-group' id='toggle_event_editing_" + full.row + "'><button type='button' onclick=\"angular.element(this).scope().ActiveAndInactive('" + full.row + "')\" class='btn btn-info locked_active'>INACTIVE</button><button type='button' onclick=\"angular.element(this).scope().ActiveAndInactive('" + full.row + "')\" class='btn btn-default unlocked_inactive'>ACTIVE</button></div>";
                            //        }
                            //        else {
                            //            return "<div class='btn-group' id='toggle_event_editing_" + full.row + "'><button type='button' onclick=\"angular.element(this).scope().ActiveAndInactive('" + full.row + "')\" class='btn btn-default unlocked_inactive'>INACTIVE</button><button type='button' onclick=\"angular.element(this).scope().ActiveAndInactive('" + full.row + "')\" class='btn btn-info locked_active'>ACTIVE</button></div>";
                            //        }
                            //    }
                            //},
                            {
                                @if (SessionProxy.CheckModuleAccess(Module.SystemUsers, ModuleAccess.CanUpdate) || SessionProxy.CheckModuleAccess(Module.SystemUsers, ModuleAccess.CanDelete))
                        {
                        @: bVisible: true,
                                                        }
                        else
                        {
                        @: bVisible: false,
                                                        }
                                bSortable: false,
                                sClass: "action-cell",
                                mRender: function (data, type, row, full) {
                                    var btn = "";
                                    @if (SessionProxy.CheckModuleAccess(Module.SystemUsers, ModuleAccess.CanUpdate))
                                    {
                                       @: btn += "<a onclick=\"angular.element(this).scope().SetLocalStorage('/Admin/Account/UpdateSubuser/" + row.Id + "')\" href='javascript:void(0);' class='glyphicon glyphicon-pencil' title='Edit'> </a>";
                                                                                                                                                                                        }
                                    @if (SessionProxy.CheckModuleAccess(Module.SystemUsers, ModuleAccess.CanDelete))
                                    {                                     
                                        @:if (!row.IsActive) { btn += "<a onclick=\"angular.element(this).scope().ActiveAndInactive('" + full.row + "',true)\" href='javascript:void(0);' title='Restore' class='glyphicon glyphicon-refresh'></a>"; } else {btn += "<a onclick=\"angular.element(this).scope().ActiveAndInactive('" + full.row + "',false)\" href='javascript:void(0);' title='Delete' class='glyphicon glyphicon-trash'></a>";
                                            }                                        
                                    }
                                    return btn;
                                }
                            }
                ];
                BindSearchGridData('Subuser', Columns, '/Admin/Account/GetAllSubuserBySearchRequest', $('[ng-controller="SubuserController"]').scope().Search, initialStart, initialLength, initialSortCol, initialSortType, function () { });
            }
        </script>        
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                    <label class="control-label">System User Name</label>
                    <input type="text" ng-model="Search.UserName" class="form-control" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group checkbox">
                    <input type="checkbox" id="Search.IncludeIsDeleted" name="cc" ng-model="Search.IncludeIsDeleted" />
                    <label for="Search.IncludeIsDeleted"><span></span>Include Deleted</label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="buttongroup">
                    <input type="button" ng-click="SearchData()" value="Search" class="btn green-btn" />
                    <input type="button" ng-click="ResetData()" value="Reset" class="btn black-btn" />
                </div>
            </div>
        </div>
        <div class="ln_solid"></div>
        @if (SessionProxy.CheckModuleAccess(Module.SystemUsers, ModuleAccess.CanAdd))
        {
            <div class="buttongroup pos-rel">
                @Html.ActionLink("Add System User", "AddSubuser", null, new { @class = "btn green-btn" })
            </div>
        }
        <div class="grid-btn-set"></div>
        <table id="Subuser" class="table table-bordered table-striped table-responsive row-border hover bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div id="Subuser_NoRecordFound" class="empty-grid">No records found</div>
    </div>
</div>
